<app-card titulo="Primeiro Componete" cor="#3D4D63">
    <app-primeiro-component></app-primeiro-component>
</app-card>
<app-card titulo="Aprofundando o conhecimento em templates" cor="#B2E7E8">
    <app-segundo-component></app-segundo-component>
</app-card>
<app-card titulo="Pipes" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two-Way Data Binding"cor="#F2D096" > 
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Rendeirizando listas" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componentes personalizados (Input)" cor="#FFE3DC">
    <app-componente-personalizado nome="João" sobrenome="da Silva"></app-componente-personalizado>
</app-card>
<app-card titulo="Compartilhando dados em componentes" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Servicos" cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Cuclo de vida">
    <app-ciclo-de-pai></app-ciclo-de-pai>
</app-card>

